@import "tailwindcss";

body {
  background-color: #303030; 
}

/* global.css or index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
